* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}
img.background {
  //   height: 70vh;
  //   right: 0;
  position: absolute;
  z-index: -1;
  right: 0;
  width: 50vw;
  height: 120vh;
  top: -10vw;
}

.active {
  color: chocolate;
}

header {
  nav {
    width: 100%;

    ul {
      width: 70%;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      li:hover {
        background-color: rgb(247, 228, 146);
        border-radius: 30%;
      }
      li {
        padding: 1.5rem;
        a {
          font-size: 2rem;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

main {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  section.left {
    flex: 2 1 400px;
    padding: 1.5rem;

    h1 {
      color: chocolate;
      font-size: 3rem;
    }
    p {
      font-size: 1.75rem;
      padding: 2rem 0rem;
    }
  }
  section.right {
    flex: 1 1 800px;
    img {
      width: 22vw;
      height: 22vw;
      border-radius: 50%;
      position: absolute;
      top: 20vh;
      right: 18vw;
    }
  }
}
footer {
  a {
    padding: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }
  header {
    nav {
      ul {
        width: 100%;
        flex-direction: column;
      }
      border-bottom: 2px solid gray;
    }
  }
  main {
    section.right {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      img {
        position: static;
        transform: none;
        width: 50vw;
        height: 50vw;
      }
    }
    section.picture {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60vw;
      }
      div.orangeRect {
        display: none;
      }
    }
    border-bottom: 2px solid gray;
  }
  footer {
    display: flex;
    justify-content: center;
  }
}
