* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

img.background {
  position: absolute;
  z-index: -1;
  right: 0;
  width: 50vw;
  height: 120vh;
  top: -10vw;
}

.active {
  color: chocolate;
}

header nav {
  width: 100%;
}

header nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

header nav ul li:hover {
  background-color: #f7e492;
  border-radius: 30%;
}

header nav ul li {
  padding: 1.5rem;
}

header nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.left {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
  padding: 1.5rem;
}

main section.left h1 {
  color: chocolate;
  font-size: 3rem;
}

main section.left p {
  font-size: 1.75rem;
  padding: 2rem 0rem;
}

main section.right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 800px;
          flex: 1 1 800px;
}

main section.right img {
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
  position: absolute;
  top: 20vh;
  right: 18vw;
}

section.resumeRight {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
  padding: 2rem;
}

section.resumeRight table {
  border-collapse: collapse;
}

section.resumeRight table tr {
  margin: 1rem;
  border-bottom: 1px solid gray;
}

section.resumeRight table tr td {
  padding: 1.5rem;
}

section.resumeRight table tr td.RowTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: chocolate;
}

section.resumeRight table tr:hover {
  background-color: blanchedalmond;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer a {
  padding: 3rem;
}

@media screen and (max-width: 1300px) {
  .orange {
    opacity: 0.5;
  }
  header nav {
    border-bottom: 2px solid gray;
  }
  header nav ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    margin: 0.25rem;
    padding: 0.25rem;
  }
  main {
    border-bottom: 2px solid gray;
  }
  main section.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
  main section.right img {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 50vw;
    height: 50vw;
  }
  main section.picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.picture img {
    width: 60vw;
  }
  main section.picture div.orangeRect {
    display: none;
  }
  main section.resumeRight table tr td.RowTitle {
    padding: 1rem 0rem 1rem 0rem;
    margin: 0rem;
  }
  main section.resumeRight table tr td {
    margin: 0rem;
    padding: 1rem 0rem;
  }
  main section.resumeRight table tr td ul {
    list-style-type: none;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */